@model EnrollmentManagementSys.Models.Course

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecordNumberId" />
            <div class="form-group">
                <label asp-for="StudentCourseID" class="control-label">Course Code</label>
                <select asp-for="StudentCourseID" class="form-control select2" asp-items="ViewBag.StudentCourseID"></select>
                <span asp-validation-for="StudentCourseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseDescription" class="control-label">Course Description</label>
                <input asp-for="CourseDescription" class="form-control" />
                <span asp-validation-for="CourseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseStatus" class="control-label">Course Status</label>
                <input asp-for="CourseStatus" class="form-control" />
                <span asp-validation-for="CourseStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
