@model EnrollmentManagementSys.Models.StudentPayment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudentPayment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecordID" class="control-label">Student</label>
                <select asp-for="RecordID" class="form-control select2" asp-items="ViewBag.RecordID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTypeID" class="control-label">Payment Type</label>
                <select asp-for="PaymentTypeID" class ="form-control" asp-items="ViewBag.PaymentTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SchoolYearID" class="control-label">School Year</label>
                <select asp-for="SchoolYearID" class="form-control" asp-items="ViewBag.SchoolYearID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TermID" class="control-label">Term</label>
                <select asp-for="TermID" class ="form-control" asp-items="ViewBag.TermID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label">Payment Date</label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeOfPaymentID" class="control-label">Mode of Payment</label>
                <select asp-for="ModeOfPaymentID" class ="form-control" asp-items="ViewBag.ModeOfPaymentID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
